# Sets
- set can be used to perform
- A Set is an unordered collection of items
- Set is defined by items separated by comma inside braces{}
- Set can store only immutable items.

In [1]:
# Empty set will be printed as set()

In [1]:
s = set()
print(s)
type(s)

set()

set

In [2]:
s= {10,12,203,20}
print(s)
type(s)

{10, 203, 12, 20}

set

In [8]:
s= {1,2.5,True,"Jeetin"}
print(s)

{1, 2.5, 'Jeetin'}

In [3]:
s = {10,1.4,True,"srk",(12,13,2,3),[1,2]} # can't add mutable item in  like Tuple and list
print(s)

TypeError: unhashable type: 'list'

In [11]:
S= {1,2,3,4,3,4,3} # Remove the Duplicates. Every Item is Unique
print(S)

{1, 2, 3, 4}

In [10]:
# Set doesn't support indexing, because it's unorder collection and Remove Duplicate

# Set Method
* set.add()
-add Method adds an one item to the set. If the item already exist in the

In [11]:
s= {1,2,3}
s.add(4)
print(s)

{1, 2, 3, 4}

In [13]:
s={1,2,3}
s.add(20)
s.add(55)
s

{1, 2, 3, 20, 55}

In [12]:
# set.update()
#Udpate method update wthe set with another set or any iterable. this should be added with list of items

In [14]:
s={1,2,3}
s.update([20,55,34])
s

{1, 2, 3, 20, 34, 55}

In [1]:
s={1,2,3,4}
s.add((6,7))
print(s)

{1, 2, 3, 4, (6, 7)}

In [3]:
s={1,2,3,4}
s.update((6,7))
print(s)

{1, 2, 3, 4, 6, 7}

In [17]:
#Set.discard()
# Discard method remove the specified item for the set. If the Itm doesn't exist in the set , a key error is raised.

In [19]:
s = {1,3,34,4}
s.remove(3)
print (s)

{1, 34, 4}

In [20]:
s = {1,34,4} # Item is not avialbe it will send error. 
s.remove(3)
print (s)

KeyError: 3

In [22]:
s = {1,34,4} # Item is not avialbe it will not show error

s.discard(3)
print (s)

{1, 34, 4}

### Set.clear()
- Clear method remove all the element from the set.

Interview Question

1. Difference between set.add Vs Set.Update
2. What is the difference between set.discard Vs Set.remove
3. Difference b/w set.clear Vs Del set()Variable
4. Shallow Copy and Deep Copy in the sets. 
5. Difference b/w list Vs Tuple Vs Set

### Set. copy()
- Copy method returns a shallow copy of the set. 
- changes to the copied set doesn't affect the original set.

In [31]:
s = {1,34,4}
s.clear()
print (s)

set()

In [36]:
s = {1,34,4}
del s   # Since this is delete that the reason it shows the S is not defined. 
print (s)

NameError: name 's' is not defined

In [6]:
s1={1,2,3}
s2=s1.copy()
s2.add(4)
print(s1,s2)

{1, 2, 3} {1, 2, 3, 4}

In [18]:
s1={1,2,3,9,10}
s2=s1.copy()
s2.update([4,5,6,7])
print(s1,s2)

{1, 2, 3, 9, 10} {1, 2, 3, 4, 5, 6, 7, 9, 10}

# Set Operations

In [23]:
s2.union(s1)

{1, 2, 3, 4, 5, 6, 7}

In [24]:
s1={1,2,3,4}
s2={2,3,4,5,6,7}
s2.intersection(s1)

{2, 3, 4}

In [25]:
s2.union(s1)-s2.intersection(s1)

{1, 5, 6, 7}

In [19]:
print (s2)

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [13]:
s1={1,2,3,4}
s2={5,6,7}
s2.isdisjoint(s1)

True

In [14]:
s1= {1,2,3,4}
s2={2,3,5}
print(s1-s2) # Within setA remove the SetB items
print(s2-s1) # within SetB remove the SetA items.

{1, 4}
{5}

In [5]:
setA = {1,2,3,4,"Jeetin"} # # Symmetric difference (Set of elements in A and B but not in both. 
setB = {2,3,4}
setA.symmetric_difference(setB)

{1, 'Jeetin'}

In [6]:
A = {3,4,5} # Set A is said to be the subset of set B if all elements of A are available in B
B= {1,2,3,4,5}

C=A.issubset(B)
print(C)

True

In [33]:
A = {3,4,5}  # Set B is said to be the superset of set A if all elements of A are available in B
B= {1,2,3,4,5}

C=B.issuperset(A)
print(C)

True

In [34]:
A = [3,4,5]
B= [1,2,3,4,5]

C=B.issuperset(A)
print(C)

AttributeError: 'list' object has no attribute 'issuperset'

In [1]:
x = None
print(type(x))

<class 'NoneType'>

In [2]:
bool("")

False

In [3]:
a={1,2,3,4,5}
b={2,3,6}
b.issubset(a)

False